// Mixins Here
//Nav Header
.bgColor {
   background: @wild-sand;
}
.add-color {
    color: @river-bend;
}
.weight {
    font-weight: bolder;
}
.radius {
    border-radius: 5px;
}
.nav-header {
    .bgColor();
}
.intro {
    p {
        .add-color();
    }
    .main-header {
        .radius();
    }
}
.visit-planets p {
    .add-color();
    display: none;
}

.walk p {
    .add-color();
}
footer {
    .weight();
}
// button
.btn-style(){
    background: @btn-bg-color;
    padding: 8px 8px;
}
.font() {
    font-size: 1.7rem;
}
.flex-style() {
    display: flex;
}
.fontColor() {
    color: @sea-shell;
}

.styles(@justify, @width) {
   display: flex;
   justify-content: @justify;
   width: @width;
   .btn-style();
   .radius();
}
